<div class="row">
  <!--<div class="col-xs-offset-3 col-xs-6">-->
    <!--<div class="list-group">-->
      <% flashcards.each do |flashcard| %>
        <!--<li class="list-group-item">-->
        
        <table class="table table-bordered">
          <tr>
            <td class="col-xs-6">
              <%= flashcard.text1 %>
            </td>
            <td class="col-xs-6">
              <%= flashcard.text2 %>
            </td>
          </tr>
        </table>
        <!--</li>-->
      <% end %>
    <!--</div>-->
  <!--</div>-->
</div>