<% content_for(:title) do %>
  ブックマーク | Goi Master
<% end %>

<div class="row">
  <% @flashcards.each do |flashcard| %>
    
    <table class="table table-bordered">
      <tr>
        <td class="col-xs-5">
          <%= flashcard.text1 %>
        </td>
        <td class="col-xs-5">
          <%= flashcard.text2 %>
        </td>
        <td class="col-xs-1">
          <%= render 'flashcards/bookmark_button', flashcard: flashcard %>
        </td>
      </tr>
    </table>
  <% end %>
</div>