<% content_for(:title) do %>
  ユーザー一覧 | Goi Master
<% end %>

<div class="row">
  <div class="col-xs-12", style="padding-bottom: 50px;">
    <h3 class="text-center">ユーザー一覧</h3>
  </div>
  
  <% @users.each do |user| %>

    <div class="col-sm-3 text-center" style="border: 1px solid #ccc; height: 100px; line-height: 100px;">
      <span class="gravatar">
        <img src="<%= gravatar_url(user, size: 50) %>" alt="" class="img-circle">
        <%= link_to user.name, user, style: "font-size: 20px" %>
      </span>
    </div>
    
  <% end %>
</div>