<% content_for(:title) do %>
  ユーザー詳細 | Goi Master
<% end %>

<div class="user-profile">
  <div class="icon text-center">
    <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <h3 class="text-center">Deckリスト</h3>
  <%= render 'decks/decks', decks: @decks %>
</div>
