<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>自分だけの単語帳を作って自分だけの語彙を手に入れよう！</h1>
      <a href="" class="btn btn-success btn-lg">Goin masterを始める</a>
    </div>
  </div>
</div>