<% content_for :cover do %>
  <div class="cover">
    <h1 class="text-center" id="title">簡単作成、みんなでシェアする<br>単語帳アプリ！</h1>
    <p class="text-center"><%= link_to '登録する', signup_path, class: "btn btn-success btn-lg" %></P>
  </div>
<% end %>