/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 

footer {
  /*background: #ccc;*/
  height: 30px;
  line-height: 30px;
  margin-top: 50px;
}

/*toppage*/
.cover, .login, .signup {
  height: 90vh;
  display: flex; /* 要素をflexboxに対応させる */
  align-items: center; /* 縦方向の中央揃え */
  justify-content: center; /* 横方向の中央揃え */
  flex-direction: column; /* 子要素の並びを上から下にする（要素の改行に対応） */
}
#title {
  margin-bottom: 50px;
}
#title br {
  display: none;
}
.under {
  background: linear-gradient(transparent 70%, skyblue 70%);
}
.toppage {
  width: 100%;
  margin: 0 auto;
}
.toppage ul {
  float: left;
  /*margin: 50px 0px 50px 100px;*/
  margin: 50px 0px 50px 0px;
  padding: 0 0 0 3%;
  font-size: 1.5em;
  list-style: none;
  /*width: 420px;*/
  width: 46%;
}
.toppage img {
  width: 20%;
  height: 20%;
  /*margin: 0 60px;*/
}
.toppage .image1 {
  float: left;
  margin-right: 0px;
  margin-left: 60px;
}
.toppage .image2 {
  float: right;
  margin-left: 0;
  margin-right: 60px;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.toppage .main {
  float: left;
}

/*login, signup*/
.login, .signup {
  height: 90vh;
}
.login .panel, .signup .panel{
  width: 50%;
}
.login .btn, .signup .btn {
  margin: 30px 0;
}
/*user*/
.deck-list {
  width: 50%;
  margin: 0 auto;
}
.users-title {
  padding-bottom: 50px;
}
.users-list {
  border: 1px solid #ccc; 
  height: 100px; 
  line-height: 100px;
  margin-bottom: 10px;
}
.users-list .name {
  font-size: 20px
}

/*deck*/
.deck-show .deck-title {
  padding-bottom: 50px;
}
.text {
  display: block;
  cursor: pointer;
}
button {
  border: 0;
  background-color: #fff
}

/*bookmark*/
.bookmark .title {
  padding-bottom: 50px;
}
.bookmark .language {
  font-size:0.6em; 
  font-weight: normal;
}
.bookmark br {
  display: none;
}

/*modal*/
.open_modal {
  display: none;
  width:50%;
	margin:1.5em auto 0;
	padding:10px 20px;
	border:2px solid #aaa;
	background:#fff;
	z-index:2;
	position: fixed;
	overflow: scroll;
	top: 15%;
	/*left: 25%;*/
}
/*.push_images form {*/
.modal form {
  display: inline-block;
}
#modal-overlay{
	z-index:1;
	display:none;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:120%;
	background-color:rgba(0,0,0,0.75);
}

@media (max-width: 991px) {
  /*toppage*/
  #title {
    font-size: 30px;
  }
  #title br {
    display: block;
  }
  .toppage .main {
   float: none; 
  }
  .toppage ul {
    /*font-size: 18px;*/
    /*margin-left: 170px;*/
    margin-top: 0;
  }
  .toppage .image1 {
    margin-right: 0px;
    margin-left: 40px;
  }
  .toppage .image2 {
    margin-left: 0;
    margin-right: 40px;
  }
}

@media (max-width: 767px) {
  .cover {
    height: 85vh;
  }
  #title {
    margin-bottom: 30px;
    font-size: 20px;
  }
  #title br {
    display: block;
  }
  .toppage ul {
    font-size: 12px;
    margin-left: 10%;
    width: auto;
  }
  .toppage img {
    display: none;
  }
  .toppage .btn {
    width: 70%;
  }
  
  
  /*login, signup*/
  .login, .signup {
    height: 80vh;
  }
  .login .panel, .signup .panel{
    width: 100%;
  }
  .login .btn, .signup .btn {
    width: 100%;
  }
  /*user*/
  .deck-list {
    width: 80%;
  }
  .users-list {
    height: 50px;
    line-height: 50px;
    margin: 0 5% 10px;
  }
  .users-list img {
    width: 30px;
    height: 30px;
  }
  .users-list .name {
    font-size: 15px;
  }
  /*deck*/
  .flashcards .text1, .flashcards .text2, .flashcards .image, .flashcards .bookmark,
  .bookmark .text1, .bookmark .text2, .bookmark .image, .bookmark .bookmark {
    display: block;
    border: 0;
  }
  .flashcards .image, .bookmark .image {
    float: left;
  }
  .flashcards .image .btn {
    font-size: 10px;
  }
  .flashcards .bookmark, .bookmark .bookmark {
    float: right;
    margin-right: 25px;
  }
  .deck-update .btn {
    width: 49%;
  }
  
  /*flashcard*/
  .flashcard thead {
    display: none;
  }
  .flashcard .form-btn {
    width: 49%;
  }
  .nested-fields .text1, .nested-fields .text2, .nested-fields .btn {
    display: block;
  }
  
  /*bookmark*/
  .bookmark br {
    display: block;
  }
}