<tr class="nested-fields">
  
  <td>
    <%= f.text_field :text1, class: 'form-control text1' %>
  </td>
  <td>
    <%= f.text_field :text2, class: 'form-control text2' %>
  </td>
  
  <td>
    <%= link_to_remove_association '削除', f, class: 'btn btn-danger' %>
  </td>
</tr>